/*------------------------------------------------------------------
[Master Stylesheet]

- MAIN CSS
- FONTS
- PLUGIN CSS

Author:     fandera bhai
Profile:    fandera bhai
-------------------------------------------------------------------*/

/* MAIN CSS */
@import url('bootstrap.min.css');
@import url('skin-bootstrap.css');
@import url('font-awesome.min.css');
@import url('theme.css');
@import url('responsive.css');
@import url('animate.css');
@import url('color.css');
@import url('chosen.min.css');
@import url('profiledisplay-page.css');

/* FONTS */
/*@import url(//fonts.googleapis.com/css?family=Roboto:400,700,300,900,700italic,400italic,500,500italic,300italic);*/
/*@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700');*/
/*@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Sansita:400,700,800,900');
@import url('../fonts/flaticon/flaticon.css');



/* PLUGIN CSS */
@import url('../assets/loader/css/loader.css');
@import url('../assets/owl-carousel/owl.carousel.css');
@import url('../assets/owl-carousel/owl.theme.css');
@import url('../assets/isotope/isotope.css');
